
  .fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .fira-sans-medium {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .fira-sans-semibold {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .fira-sans-bold {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .fira-sans-extrabold {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .fira-sans-regular-italic {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: italic;
  }

  *{
    margin: 0;
    padding: 0;
  }

  body{
    background-color: #F1F1F3;
  }

  /* shared */
.bg-primary{
    background-color: #C6E4D6;
}

.bg-secondary{
    background-color: #FFFFFF;
}

.bg-lt-blu{
    background-color: #83b5fc46;
}

.bg-lt-yl{
    background-color: #F7EBCF;
}

/* .flex{
    display: flex;
} */

.btn{
    color: #FFFFFF;
}
.btn-primary{
    background-color: #006A50;
    border-radius: 8px;
    padding: 17px 34px;
    border: none;
    font-weight: 600;
    font-size: 18px;
}

.btn-primary:hover{
    background-color: #5490F5;
    border: 2px dashed mediumblue;
}

.btn-secondary{
    color: #006A50;
    background-color: #FFFFFF;
    border-radius: 8px;
    padding: 17px 34px;
    border: 1px solid #006A50;
    font-weight: 600;
    font-size: 18px;
}

.btn-secondary:hover{
    color: #FFFFFF;
    background-color:#09A15C;
    border: 2px dashed mediumblue;
}

/* header  */
.header{
    display: flex;
    padding: 24px 160px;
    justify-content: space-between;
    align-items: center;
}

.page-title{
    font-size: 32px;
}

/* main  */
main{
    margin: 0 160px;
    max-width: 1240px;
}

section{
    margin-bottom: 80px;
}

.section-title{
    font-size: 40px;
    margin-bottom: 24px;
}

.section-description{
    font-size: 16;
    opacity: 0.70;
    margin-bottom: 32px;
}

/* banner section*/
.banner{
    align-items: center;
    border-radius: 24px;
    padding: 80px 100px;
    display: flex;
}

.banner-subtitle{
    font-size: 24px;
    color: hsla(0, 0%, 5%, 0.30);
    margin-bottom: 16px;
}

.banner-title{
    font-size: 56px;
    margin-bottom: 24px;
}

/* future section*/
.future-card-container{
    margin: 32px 0px;
    display: flex;
    gap: 24px;
}

.future-card{
    padding: 32px;
    border-radius: 16px;
}

.future-card-text{
    margin: 24px 0px;
}

.future-card-title{
    font-size: 20px;
    margin-bottom: 12px;
}

.future-card-btn-blu{
    background-color: #5490F5;
    border-radius: 8px;
    border: none;
    padding: 11px 20px;
    font-size: 16px;
}

.future-card-btn-gr{
    background-color: #09A15C;
    border-radius: 8px;
    border: none;
    padding: 11px 20px;
    font-size: 16px;
}

.future-card-btn-yl{
    background-color: #FFC239;
    border-radius: 8px;
    border: none;
    padding: 11px 20px;
    font-size: 16px;
}

.future-quote{
    padding: 48px 24px;
    background-image: url("../assets/quote-bg.png");
    background-repeat: no-repeat;
    background-position: top+24px left+24px;
    border-radius: 16px;
}

.quote-content{
    font-size: 16;
    opacity: 0.80;
    margin-bottom: 12px;
}

.quote-title{
    font-size: 20;
}

.quote-subtitle{
    font-size: 16;
    opacity: 0.60;
}

/* recent news section*/
.recent-card-container{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.recent-card{
    padding: 48px;
    border-radius: 24px;
    display: flex;
    gap: 32px;
}

.recent-card-image-container{
    width: 33%;
    height: 306px;
}

.recent-card-image{
    width: 100%;
    height: 100%;
    border-radius: 24px;
}

.recent-card-content{
    width: 58%;
}

.recent-card-content img{
    margin-bottom: 12px;
}

.recent-card-title{
    font-size: 32px;
    margin-bottom: 12px;
    opacity: 0.80;
}

.recent-card-date-times{
    display: flex;
    justify-content: flex-start;
}

.recent-card-date-time{
    margin-right: 15px;
}

/* donate section*/
.donate{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.donate .section-title{
    text-align: center;
}

.donate .section-description{
    text-align: center;
}

.donate-card-container{
    display: flex;
    margin-bottom: 32px;
    gap: 24px;
}

.donate-card{
    padding: 40px;
    border-radius: 16px;
    border: 1px solid gainsboro;
}

.donate-card:hover{
    background-color: #C6E4D6;
}

.donate input{
    margin-bottom: 32px;
    padding: 20px 40px;
    border: none;
    width: 80%;
}

/* subscibe section  */
.subscribe{
    display: flex;
    flex-direction: column;
    border-radius: 24px;
    padding: 80px 100px;
    align-items: center;
    
}

.subscribe .section-title{
    text-align: center;
}

.subscribe .section-description{
    text-align: center;
}

.subscribe form{
    display: flex;
    gap: 0px;
    width: 70%;
    justify-content: center;
    align-items:baseline;
}

.subscribe form input{
    border-radius: 8px 0px 0px 8px;
    border: none;
    margin-bottom: 32px;
    padding: 17px 40px;
    width: 80%;
    font-size: 16px;
}

.subscribe form .btn-primary{
    border-radius: 0px 8px 8px 0px;
    width: 20%;
    padding: auto;
    justify-content: center;
}

.footer{
    padding: 50px 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.footer hr{
    border-top: 1px solid gray;
    height: 1px;
    width: 70%;
}
.footer-social-media-links{
    display: flex;
    gap: 20px;
}